@import "variables";

/*Global styles*/
body {
    font-family: "Open Sans", sans-serif;
    background: #fafafa;
    color: $copy_color;
}
ul {
    list-style-position: inside;
}
.inherit-link {
    &, &:visited, &:hover, &:active {
        color: inherit !important;
        text-decoration: none;
    }
}
.wrap {
    max-width: 1024px;
    margin: 0 auto;
}
.vflex {
    display: flex;
    align-items: center;
    height: 100%;
}

@import "header";

/*Content styles*/
main {
    padding: 40px 0;
}
#content {
    padding: 40px;
    background-color: white;
    border: 1px solid $border_color;

    @include media($ipad_port) {
        padding: 20px;
    }
}

@import "page-index";
@import "page-about";
@import "footer";