/*Header styles*/
header {
    background-color: white;


    .header-title {
        text-align: center;
        padding: 60px 0 20px 0;
        background-color: white;
    }
    #title {
        font-size: 3em;
        font-weight: normal;
        margin-bottom: 25px;
        color: $title-color;
    }
    #subtitle {
        font-size: 1.5em;
        font-weight: lighter;
    }

    /*Navigation styles*/
    #header_nav {
        border: 1px solid $border-color;
        border-right-width: 0;
        border-left-width: 0;

        ul {
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
        }

        li {
            display: inline-block;

            a {
                display: block;
                color: $title-color;
                padding: 20px 14px;
                transition: $transition-fast;
                text-decoration: none;

                &:hover {
                    background-color: $primary-color;
                    color: white;
                }
            }
        }

        li.active {
            background-color: $border-color;
        }
    }
}