.project {
    padding: 20px 0;
    display: flex;
}
.project-main {
    display: grid;
    grid-template-areas: "icon text button";
    grid-template-columns: max-content 1fr max-content;
    width: 100%;

    @include media($phone-port) {
        grid-template-areas:
                "icon text"
                "button text";
        grid-template-columns: max-content 1fr;
    }
}

.project-icon-column {
    grid-area: icon;
    width: 64px;

    .project-icon {
        display: block;
        width: 64px;
        height: 64px;
        background-repeat: no-repeat;
        background-size: contain;
        border-radius: 8px;
    }
    .project-libraries {
        $color: #ccc;
        display: flex;
        justify-content: center;
        align-items: center;
        //margin-left: 4px;
        margin-top: 4px;
        padding-top: 4px;
        border-top: 1px solid $color;

        * {
            cursor: help;
            color: $color;

            &:not(:last-child) {
                margin-right: 4px;
            }
        }
    }
}
.project-text {
    grid-area: text;
    padding-left: 25px;

    .project-title {
        display: inline-block;
    }

    .project-responsive {
        font-size: 25px;
        color: #bbb;
        margin-left: 10px;
    }
    .project-badge {
        font-size: 14px;
        border-radius: 4px;
        margin-left: 8px;

        &.project-badge-alpha {
            @include badge-variant($danger);
        }
        &.project-badge-beta {
            @include badge-variant($primary);
        }
    }
}
.project-source {
    grid-area: button;
    padding-left: 20px;
    margin-left: 10px;
    border-left: 1px solid $border-secondary;

    display: flex;
    flex-direction: column;
    justify-content: center;


    @include media($ipad-port) {
        width: 65px;
        padding-left: 15px;

        i {
            margin-right: 0;
        }
    }

    @include media($phone-port) {
        //Moves over to left
        margin-top: 10px;
        margin-left: 0;
        padding-left: 0;
        border: 0;

        .btn {
            width: 100%;
        }
    }

    > a {
        $hide-label: $ipad-port;
        margin-top: 10px;

        > i {
            margin-right: 8px;

            @include media($hide-label) {
                margin-right: 0;
            }
        }

        .project-source-label {
            @include media($hide-label) {
                display: none;
            }
        }
    }
}