.project {
    padding: 20px 0;
    display: flex;
}
.project-main {
    display: flex;
    width: 100%;
}
.project-source {
    flex-shrink: 0;
    padding-left: 20px;
    margin-left: 10px;
    border-left: 1px solid $border-secondary;

    p {
        margin-top: 10px;
    }
    i {
        margin-right: 8px;
    }

    @include media($ipad-port) {
        width: 65px;
        padding-left: 15px;

        i {
            margin-right: 0;
        }
    }

    @include media($phone-port) {
        display: none;
    }
}
.project-source-label {
    @include media($ipad-port) {
        display: none;
    }
}
.project-icon-column {
    width: 64px;
}
.project-icon {
    display: block;
    width: 64px;
    height: 64px;
    background-repeat: no-repeat;
    background-size: contain;
}
.project-source-mobile {
    display: none;

    @include media($phone-port) {
        display: block;
        margin-top: 10px;

        .btn {
            width: 100%;
        }
    }
}
.project-text {
    padding-left: 25px;

    h3 {
        display: inline-block;
    }
}
.project-responsive {
    font-size: 25px;
    color: #bbb;
    margin-left: 10px;
}