$allow-dark-theme: true;
$force-dark-theme: false;

$highlight-primary: #4c6dff;
$highlight-primary-dark: #ff9900;

$bg-primary: #fff;
$bg-primary-dark: #191919;

$bg-secondary: #efefef;
$bg-secondary-dark: #252525;

$title-primary: #444;
$title-primary-dark: #ddd;

$copy-primary: #666;
$copy-primary-dark: #fff;

$copy-light: #999;
$copy-light-dark: #ccc;

$border-primary: #EBEBEB;
$border-secondary: #ABABAB;
$transition-fast: 0.4s;

$ipad-land: 1023px;
$ipad-port: 767px;
$phone-port: 450px;

@mixin inherit-link {
    @include link-color(inherit);
}

@mixin link-color($color) {
    &, &:visited, &:hover, &:active {
        color: $color;
    }
}

@mixin media($max-width) {
    @media screen and (max-width: $max-width) {
        @content;
    }
}

@mixin fix-grid-child {
    //See https://stackoverflow.com/questions/43311943/prevent-content-from-expanding-grid-items
    min-height: 0;
    min-width: 0;
}

@mixin theme-light {
    html[data-theme='light'] & {
        @content;
    }

    //Prevent flash while waiting for React
    @media (prefers-color-scheme: no-preference), (prefers-color-scheme: light) {
        html:not([data-theme]) & {
            @content;
        }
    }
}

@mixin theme-dark {
    @if $force-dark-theme {
        @content
    }
    @else if $allow-dark-theme {
        html[data-theme='dark'] & {
            @content;
        }

        //Prevent flash while waiting for React
        @media (prefers-color-scheme: dark) {
            html:not([data-theme]) & {
                @content;
            }
        }
    }
}

@mixin property-dark($property, $value-light, $value-dark) {
    #{$property}: $value-light;

    @include theme-dark {
        #{$property}: $value-dark;
    }
}

%copy-text {
    @include property-dark("color", $copy-primary, $copy-primary-dark);
}